<div>
<p style="font-weight: 700;">
{{'This configuration will be default for all the assets this field will be assigned to. It can aso be overwritten by editing field values for the specific assets.'|t('image-toolbox')}}
</p>
<hr>
{% include 'image-toolbox/common-settings' %}
</div>