<div>
<p style="margin-bottom: -5px;">
{{'You can overwrite default configuration defined in the field settings here.'|t('image-toolbox')}}
</p>
<hr>
{% include 'image-toolbox/common-settings' %}
</div>